div.body_text
{
/*background-color:#000000;
color:#00a000;*/
}

div.post
{
/*background-color:#ff95ed;*/
}

h4.post_date
{
/*background-color:#008000;
color:#000000;*/
}

h4.tag_list
{
/*background-color:#000000;
color:#00ff00;*/
}

h1.title
{
/*background-color:#000000;
color:#00b000;*/
border-bottom-style:solid;
}
